.row {
    display: flex;
    justify-content: space-around; 
    align-items: center;
    margin-bottom: 20px; 
}

.circle-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px; 
    justify-content: center;
}
main{
    display: flex;
}

.container{
    display: flex;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: darkslateblue;
    border-radius: 50%; 
    width: 100px;
    height: 100px;
    margin-bottom: 10px; 
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.p{
   font-size: 20px;
   font-family: fantasy;
   margin-top: 10px;
}
img{
    height: 100px;
    padding-bottom: -10px;
}

header{
    border-bottom: 2px solid rgb(219, 219, 219);
    margin-bottom: 40px;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column; 
    height: 100vh; 
}

header {
    width: 100%;
    
    color: white;
    padding: 10px 20px;
    text-align: center;
}

.flex-container {
    display: flex;
    flex-grow: 1; 
}

.sidebar {
   flex-direction: column;
    display: flex;
    width: 250px;
    background-color: #f4f4f4;
    overflow-y: auto; 
    padding: 20px;

}

.main-content {
    
    flex-grow: 1; 
    overflow-y: auto; 
    padding: 20px;
}

.module a {
    text-decoration: none;
    color: black;
    display: block;
    margin-bottom: 60px;
    border-radius: 5px;
    font-size: 22px;
   padding: 10px;
   
}

.module a:hover, .module.active a {
    background-color: #ccc;
}
.b{    
   font-size: 20px;
   padding: 5px;
   
}
.b:hover{
    transition:1s  linear ;
    font-size: 25px;
    color: indigo;
    padding: 5px;
}
iframe{
    text-align: center;
    border: 20px solid yellow;
  
}

.active{
    background-color: #ccc;
}